body {
	background: url(""), url("background-image.jpg");
	background-position: center top, center top;
	background-size: 700px 50px, cover;
	background-repeat: repeat-y, no-repeat;
	background-attachment: fixed, fixed;
	background-color: rgba(255, 255, 255, 0.8), none;
}

.overbackground {
	width: 900px;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0px auto;
	margin-top: -40px;
}

.header {
	padding-top: 50px;
}

#language {
	float: right;
	position: relative;
	display: inline-block;
}

#current-language {
	padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	background-color: #f9f9f9;
	cursor: pointer;
	min-width: 130px;
}

.flag {
	width: 25px;
	height: 20px;
}

#language-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 20px;
    z-index: 100;
	min-width: 90px;
}

#language a {
	color: black;
    text-decoration: none;
    display: block;
}

#language:hover #language-content {
	display: block;
}

#language-content a:hover{
	background-color: #f1f1f1;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: ;
	margin: 30px 0px 30px 0px;
	text-align: center;
}

button {
	background-color: #4d94ff;
	border-radius: 8px;
	color: white;
	padding: 5px 10px;
	font-family: 'Exo';
	font-size: 15px;
	font-weight: bold;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

button:hover {
	background-color: white;
	border: 2px solid #1a75ff;
	color: #1a75ff;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.24), 0 10px 43px 0 rgba(0,0,0,0.19);
}

#playerNumberInput {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Checkboxes */
/* Create checkbox */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px; /* dim. de la case */
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px; /* angles arrondis */
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}
 
/* Tick aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* on prévoit une animation */
}

/* Aspect if unchecked */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}

/* Aspect if checked */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

.content {
	padding: 30px 30px 30px 30px;
}

.playerName {
	font-size: 25px;
}

.playedRace {

}

/*@media (max-width: 500px) {
	
}*/