body {
	background: url(""), url("images/background-image.jpg");
	background-position: center top, center top;
	background-size: 700px 50px, cover;
	background-repeat: repeat-y, no-repeat;
	background-attachment: fixed, fixed;
	background-color: rgba(255, 255, 255, 0.8), none;
}

.overbackground {
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0px auto;
	margin-top: -40px;
	width: 900px;
}

.header {
	padding-top: 50px;
}

#language {
	display: inline-block;
	float: right;
	position: relative;
}

#current-language {
	background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	cursor: pointer;
    display: block;
	min-width: 130px;
	padding: 12px 20px;
}

.flag {
	height: 20px;
	width: 25px;
}

#language-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
    padding: 12px 20px;
    position: absolute;
	min-width: 90px;
    z-index: 100;
}

#language a {
	color: black;
    display: block;
    text-decoration: none;
}

#language:hover #language-content {
	display: block;
}

#language-content a:hover{
	background-color: #f1f1f1;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: ;
	margin: 30px 0px 30px 0px;
	text-align: center;
}

button {
	background-color: #4d94ff;
	border-radius: 8px;
	color: white;
	font-family: 'Exo';
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	padding: 5px 10px;
    transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; 
}

button:hover {
	background-color: white;
	border: 2px solid #1a75ff;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.24), 0 10px 43px 0 rgba(0,0,0,0.19);
	color: #1a75ff;
}

#playerNumberInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
	width: 100%;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
	width: 100%;
}


/* Checkboxes */

/* Create checkbox */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  background: #f8f8f8;
  border: 1px solid #aaa;
  border-radius: 3px; /* angles arrondis */
  position: absolute;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
  left:0; top: 2px;
  width: 17px; height: 17px; /* dim. de la case */
}
 
/* Tick aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* on prévoit une animation */
}

/* Aspect if unchecked */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}

/* Aspect if checked */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

.content {
	padding: 30px 30px 30px 30px;
}

.playerName {
	font-size: 25px;
}

#results {
	margin-top: 25px;
}

/* Faction cards displaying */

.faction-played {
	margin: 0px 35px;
}

.faction-container {
	display: inline-block;
	height: 420px;
	margin: 0px 40px;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
	position: relative;
	width: 300px;
}

.faction-card {
	height: 100%;
	position: absolute;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
	width: 100%;
}

.faction-card div {
    display: block;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    width: 100%;
}

/*.faction-card .front {
	background-image: url("images/front-dino.jpg");
	background-position: left top;
}*/

.faction-card .front-dinosaurs {
	background-image: url("images/factions/base/dino.jpg");
	background-position: left top;
}
.faction-card .front-aliens {
	background-image: url("images/factions/base/aliens.jpg");
	background-position: left top;
}
.faction-card .front-ants {
	background-image: url("images/factions/monster/ants.jpg");
	background-position: left top;
}
.faction-card .front-robots {
	background-image: url("images/factions/base/robots.jpg");
	background-position: left top;
}
.faction-card .front-ninja {
	background-image: url("images/factions/base/ninja.jpg");
	background-position: left top;
}
.faction-card .front-apes {
	background-image: url("images/factions/sf/apes.jpg");
	background-position: left top;
}
.faction-card .front-tricksters {
	background-image: url("images/factions/base/tricksters.jpg");
	background-position: left top;
}
.faction-card .front-wizards {
	background-image: url("images/factions/base/wizards.jpg");
	background-position: left top;
}
.faction-card .front-zombies {
	background-image: url("images/factions/base/zombies.jpg");
	background-position: left top;
}
.faction-card .front-werewolves {
	background-image: url("images/factions/monster/werewolves.jpg");
	background-position: left top;
}
.faction-card .front-pirates {
	background-image: url("images/factions/base/pirates.jpg");
	background-position: left top;
}
.faction-card .front-vampires {
	background-image: url("images/factions/monster/vampires.jpg");
	background-position: left top;
}
.faction-card .front-time-traveler {
	background-image: url("images/factions/sf/time-traveler.jpg");
	background-position: left top;
}
.faction-card .front-spies {
	background-image: url("images/factions/sf/spies.jpg");
	background-position: left top;
}
.faction-card .front-shapeshifters {
	background-image: url("images/factions/sf/shapeshifters.jpg");
	background-position: left top;
}
.faction-card .front-scientists {
	background-image: url("images/factions/monster/scientists.jpg");
	background-position: left top;
}
.faction-card .front-princesses {
	background-image: url("images/factions/pretty/princesses.jpg");
	background-position: left top;
}
.faction-card .front-fairies {
	background-image: url("images/factions/pretty/fairies.jpg");
	background-position: left top;
}
.faction-card .front-ponies {
	background-image: url("images/factions/pretty/ponies.jpg");
	background-position: left top;
}
.faction-card .front-cats {
	background-image: url("images/factions/pretty/cats.jpg");
	background-position: left top;
}


.faction-card .back {
	background-image: url("images/back-card.jpg");
	-webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.faction-card.flipped {
	-webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}



/*@media (max-width: 500px) {
	
}*/